* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.section {
    margin: 178px auto;
    text-align: center;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

span{
    color: #E55473;
}
/* Header Styles */
.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 180px 0;
}

.header-detail {
    padding: 190px 0 167px;
}

.header-title {
    color: #272727;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 32px;
}

header .header-img {
    width: 635px;
    height: 800px;
    padding-top: 167px;
}

.header-detail .header-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

/* Our Featured Flowers */
.our-flower-desc {
    padding: 0 600px;
    padding-bottom: 45px;
}

.display-flower {
    display: flex;
    gap: 24px;
    margin: 0 228px;
}

.common-flower-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.pink-bg {
    background: rgba(167, 33, 98, 0.15);
}

.display-flower-pink {
    width: 310px;
    height: 428px;
    padding-top: 110px;
}

.paste-bg {
    background: rgba(5, 151, 160, 0.15);
}

.display-flower-tree {
    width: 370px;
    height: 370px;
    padding-top: 100px;
}

.green-bg {
    background: rgba(71, 125, 17, 0.15);
}

.display-flower-yellow {
    width: 314px;
    height: 471px;
    padding-top: 67px;
}

.display-flower-pink-desc {
    padding-top: 20px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
}

.display-flower-tree-desc {
    padding-top: 85px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
}

.display-flower-yellow-desc {
    padding-top: 20px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 700;
}

/* Bonus Section */
.bonus-section video {
    border-radius: 10px;
    height: 600px;
    object-fit: cover;
}

.bonus-section > h3 {
    padding: 0 550px;
    padding-bottom: 30px;
}

/* Hot Deal Section */
.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 100px 300px;
}

/* Instagram Section */
.showcase-desc{
    padding: 0 550px 30px;
}

.showcase-img img {
margin: 10px;
}

/* Get Deals Section Styles */
.get-deals {
    background: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 0;
    margin-left: 285px;
    margin-right: 285px;
    border-radius: 8px;
}
input {
    width: 700px;
    border-radius: 8px;
    background-color: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 18px;
    border: #272727 3px solid;
}

#form-email {
    margin-right: 5px;
}

/* Footer Styles */
.footer {
    background-color: #111010;
    margin-bottom: 0px;
    padding: 128px 0;
}
.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 550px 25px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.4);
}